
@{
    ViewData["Title"] = "PassUsingViewData";
}

<h1>PassUsingViewData</h1>

<div><b>Rand Value First: @ViewData["a"]</b></div>
<div><b>Rand Value Second: @ViewData["b"]</b></div>
<div><b>Add:</b></div>
<div>@ViewData["add"]</div>
<div><b>Sub:</b></div>
<div>@ViewData["sub"]</div>
<div><b>Mult:</b></div>
<div>@ViewData["mult"]</div>
<div><b>div:</b></div>
<div>@ViewData["div"]</div>