
@{
    ViewData["Title"] = "PassUsingModel";
}

<h1>PassUsingModel</h1>

<div><b>Rand Value First: @Model.a</b></div>
<div><b>Rand Value Second: @Model.b</b></div>
<div><b>Add:</b></div>
<div>@Model.add </div>
<div><b>Sub:</b></div>
<div>@Model.sub </div>
<div><b>Mult:</b></div>
<div>@Model.mult </div>
<div><b>div:</b></div>
<div>@Model.div</div>