@{
    ViewData["Title"] = "PassUsingViewBag";
}

<h1>PassUsingViewBag</h1>

<div><b>Rand Value First: @ViewBag.a</b></div>
<div><b>Rand Value Second: @ViewBag.b</b></div>
<div><b>Add:</b></div>
<div>@ViewBag.add </div>
<div><b>Sub:</b></div>
<div>@ViewBag.sub </div>
<div><b>Mult:</b></div>
<div>@ViewBag.mult </div>
<div><b>div:</b></div>
<div>@ViewBag.div</div>